/* Add variables */
:root{
    --bg:rgb(54, 76, 116);
    --font:#b7cad3;
}
* {
    box-sizing: border-box;
}
body{
    background-color: aliceblue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
/* ************************************************************************ */
/* Header section properties  */
header {
    padding: 20px 20px 20px 0;
    background-color: #b8740d;
    color: var(--font);;
}
header h1 {
    display: inline-block;
    font-size: 48px;
    background-color:var(--bg);
    color: var(--font);
    padding:0 20px 0 60px; 
}
header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 20px;
}
header nav ul li {
    display: inline-block;
    margin-left: 25px;
}
header a{
    color:var(--bg);
    border-width:1px;
    font-weight: bold;   
}
/* ******************************************************************************* */
/* Subtitle section properties */

/* The profile image properties */
 #img-profile{
    width:200px;
    height: 100%;
    border:1px solid red;
    border-radius: 25% 10%;
 }
 /* the subtitle section background and it's properties */
#alone{
    display: flex;
    position: relative;
    height: 200px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/creative-image.jpg");
    background-size: cover;  
}
#subtitle{
    display:flex;
    position: absolute;
    right:40px; bottom: 20px;
    font-size: 25px;
    color: var(--font);
    }
/* ****************************************************** */

.container{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
   
} 
 /* The font h3 on the image with its background set to this properties */
h3{
    font-size:20px;
    padding:9px;
    font-weight:bold;
}
.writting-style {
 background-color: var(--bg);
 max-width: fit-content;
 padding:10px;
 position:absolute;
 bottom:2rem ;
 color: var(--font);
}
/* The properties for the 3 section in the main body(about me,work, & contact me.) on the main body */
.about-me-work{
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    padding-left:2rem;
    padding-right: 2rem;
    margin-bottom: 20px;
    color:var(--bg);
       
}
/* property for the h2 & h2 border of the main body(about me,work, & contact me.) */

 h2{
    font-size: 40px;
    font-weight: bold;
    text-align: end;
    padding-right: 10px;  
 }
.headers{
   
  min-width:220px ;
  border-right: 1px solid var(--bg);
  border-width: 3px;   
}
/* ************************************************************************** */
/* IMAGE PROPERTIES */
/* img target the entire container that hold the images section. */
.img{
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    height:100%;
    padding-left: 30px;
     
}
/* four target the individual properties of the images and its background, in the work part of the main body. */
.four{
    height: 10rem;  
    width: 100%;  
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: 20% 30%;  
   
 }

/*  Adding background-image to the work section and set the properties. */
#surf{
    flex:1 1 100%;
    height: 30rem;
    position:relative;/* set the position relative because the writing-style properties of h3 is in a position absolute,so that it be placed in a correct position.*/
    background-image: url("../images/surf-report.jpg"); 
    border:3px solid var(--bg);
    margin: 15px ;
}
/* add a github link to this image */
#surf a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;   
}

#LED{
    flex: 2 1 40%;
    position: relative;
    background-image: url("../images/led-wall.jpg");
    border:3px solid var(--bg);
    margin: 15px ;
   
}
#Calculator{
    flex:2 1 40%;
    position: relative;
    background-image: url("../images/calculator.jpg");
    border:3px solid var(--bg);
    margin: 15px ;
}
#Puzzels{
    flex:2 1 40%;
    position: relative;
    background-image: url("../images/puzzels.jpg");
    border:3px solid var(--bg);
    margin: 15px ;
}
#Run{
    flex:2 1 40%;
    position: relative;
    background-image: url("../images/building.jpg");
    border:3px solid var(--bg);
    box-shadow: #b8740d;
    margin: 15px ;
}
/* ******************************************************************************** */
/* bottomsection and its properties */
.bottom nav{
    padding: 30px;   
    margin: 40px;
}
.bottom li {
    display:inline;
    padding:30px;  
}
.bottom  a{
    color:var(--bg);
    font-weight: bold;
    font-size: 20px; 
    padding-left: 50px; 
}
/* ******************************************************************************** */
/*  CSS pseudo-elements like ::before or ::after and apply pointer-events: */
/* Psudo class and Psudo element */
a:hover{
    color:var(--font);




/* mediaquery code is written below for laptop/tab/mobile/ */
