/* Add variables */
:root{
    --bg:rgb(54, 76, 116);
    --font:#b7cad3;
    --hover:#b8740d;
}
* {
    box-sizing: border-box;
}
body{
    margin: 0px;
    padding: 0px;
    background-color: rgb(231, 212, 183);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
/* ************************************************************************ */
/* Header section properties  */
header {
    display:flex;
    flex-wrap: wrap;
    width:100%;
    justify-content:space-between;
    padding: 20px 20px 20px 0;
    background-color: var(--hover);
    color: var(--font);;
}
header h1 {
    display: inline-block;
    font-size: 48px;
    background-color:var(--bg);
    color: var(--font);
    padding:0 20px 0 60px; 
}
header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 20px;
}
header nav ul li {
    display: inline-block;
    margin-left: 25px;
}
header a{
    color:var(--bg);
    border-width:1px;
    font-weight: bold;   
}
/* ******************************************************************************* */
/* Subtitle section properties */

/* The profile image properties */
 #img-profile{
    width:200px;
    height: 100%;
    border:1px solid var(--hover);
    border-radius: 25% 10%;
    @media(max-width: 320px){
       
        border-color: var(--hover);
       
    }
    @media (max-width: 599px) 
        {
            width:100px;
            height:100px; 
        }
        
    }
 
 /* the subtitle section background and it's properties */
#alone{
    display: flex;
    position: relative;
    height: 200px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/creative-image.jpg");
    background-size: cover; 
    @media(max-width: 320px){
        
        border:1px solid var(--hover);
       
    }
  
}
#subtitle{
    display:flex;
    position: absolute;
    right:40px; bottom: 20px;
    font-size: 25px;
    color: var(--font);
  
    }
/* ****************************************************** */
/*container is the properties set for the entire main body */
.container{
    display:flex;
    flex-direction: column;
    
}
 /* The font h3 on the image with its background set to this properties */
h3{
    font-size:20px;
    padding:9px;
    font-weight:bold;
}
.writting-style {
 background-color: var(--bg);
 max-width: fit-content;
 padding:10px;
 position:absolute;
 bottom:2rem ;
 color: var(--font);

}
/* The properties for the 3 section in the main body(about me,work, & contact me.) on the main body */
.about-me-work{
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    width:100%;
    padding-left:2rem;
    padding-right: 2rem;
    margin-bottom: 20px;
    color:var(--bg);
  
    @media (max-width: 600px) {
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items:center;
    }
}

 p{
    display: flex;
    flex-wrap: wrap;
    line-height:2; 
    padding-left: 15px;
} 

/* property for the h2 & h2 border of the main body(about me,work, & contact me.) */

 h2{
    font-size: 50px;
    font-weight: bold;
    text-align: end;
    padding: 15px;  
    
 }
.headers{
   
    min-width:220px ;
    border-right: 1px solid var(--bg);
    border-width: 3px;  
    
    @media(max-width: 600px) {
        border:none;
    } 
}
/* ************************************************************************** */
/* IMAGE PROPERTIES */
/* img target the entire container that hold the images section. */
.img{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:flex-start;
    width:100%;
    height:100%;
    padding-left: 30px;
  
    @media (max-width: 600px) {
        padding: 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
/* four target the individual properties of the images and its background, in the work part of the main body. */
.four{
    height:100%;  
    width: 100%;  
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: 20% 30%; 

    outline: 3px solid var(--bg);
    outline-offset: -3px;
    border-radius: 30px;
    transition: all .5s ease-in-out;
      
}

/*  Adding background-image to the work section and set the properties. */
#surf{
    flex:1 1 60%;
    height: 30rem;
    position:relative;/* set the position relative because the writing-style properties of h3 is in a position absolute,so that it be placed in a correct position.*/
    background-image: url("../images/surf-report.jpg"); 
    margin: 15px ;
    @media (max-width: 600px) {
        flex: none;
    }
}
/*Add a properties to the link to the above image */
#surf a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;   
}

#LED{
    flex: 2 1 40%;
    position: relative;
    height: 20rem;
    background-image: url("../images/led-wall.jpg");
    margin: 15px ;
    @media (max-width: 600px) {
        flex: none;
    }
   
}
#LED a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;   
}

#Calculator{
    flex:2 1 40%;
    position: relative;
    height: 20rem;
    background-image: url("../images/calculator.jpg");
    margin: 15px ;
    @media (max-width: 600px) {
        flex: none;
    }
}
#Calculator a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;   
}

#Puzzels{
    flex:2 1 40%;
    position: relative;
    height: 20rem;
    background-image: url("../images/puzzels.jpg");
    margin: 15px ;
    @media (max-width: 600px) {
        flex: none;
    }
}
#Puzzels a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;   
}

#Run{
    flex:2 1 40%;
    position: relative;
    height: 20rem;
    background-image: url("../images/building.jpg");
    margin: 15px ;
    @media (max-width: 600px) {
        flex: none;
    }
}
#Run a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;   
}

/* ******************************************************************************** */
/* bottom section and its properties */
.bottom nav{

    padding: 25px;   
   
}
.bottom li {
    display:inline;
    padding:30px; 
    @media (max-width: 768px) {
        display: block;
    } 
    @media (max-width: 992px) {
        display: block;
    } 
    @media (max-width: 1024px) {
        display: block;
    } 
}
.bottom  a{
    color:var(--bg);
    font-weight: bold;
    font-size: 20px; 
    padding: 20px; 
}
/* ******************************************************************************** */
/* Psudo class and Psudo element will be added*/
a:hover{
    color:var(--font);
}

#surf:hover {
    box-shadow: inset 0 0 80px var(--hover);
}
#LED:hover {
    box-shadow: inset 0 0 80px  var(--hover);
}
#Calculator:hover {
    box-shadow: inset 0 0 80px  var(--hover);
}
#Puzzels:hover {
    box-shadow: inset 0 0 80px  var(--hover);
}
#Run:hover {
    box-shadow: inset 0 0 80px  var(--hover);
}


@media screen and (max-width: 720px) {
    body {
     
        background-color: var(--font);
    }
    /* *******header properties start here */
    header{
        display:flex;
        flex-direction: column; 
        align-items: center;
        background-color: var(--font);
    
    }
    header h1{
        padding:10px;
        font-size: 30px;
    }
    .b {
        text-align: center;
        font-size: 10px;
    }
   
 /* **********************end of header media query*********** */

#img-profile{
        width:150px;
        height:150px; 
    }
#subtitle{
    display:flex;
    flex-direction: row;
    position:absolute;
    bottom: 10px; left: 130px;
    font-size: 15px;
    width: 100%;
  }
  /* to make the profile image center */
#alone{
    display:flex;
    flex-direction: column;
    align-items: center;
}
/* ********end of subtitle header********* */
/* ****main section part of body */

  .about-me-work h2{
    text-align: center;
    font-size: 30px;
    border-bottom: 1px solid var(--bg);
    padding: 10px;
}
.headers{
    display: flex;
    justify-content: center;
    align-items: center;
}
.pre{
    text-align:center;
    line-height:2;
    padding-left:30px;
    color: var(--bg);
    font-weight: bold; 
    font-size:10px;
}
.bottom nav li a{
    font-size: 10px;
     padding-left:2px;
  }


  .writting-style{
      font-size: 8px;
  }
  h3{
      font-size:10px;
  }
  .bottom a{
    display:flex;
    justify-content: center;
  }
  
}
/* ********************************* */
